<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="Global" value="https://reports.mlhuillier1.com/Global/MLKPGlobalWebReports/WebPages/postpage.aspx"/>
    <add key="Domestic" value="https://reports.mlhuillier1.com/Phil/MLKPWebReports/WebPages/postpage.aspx"/>
    <add key="Partners" value="https://reports.mlhuillier1.com/Phil/mlkpcorporatereports/webpages/postpage.aspx"/>
    <add key="FileUpload" value="https://mlkp7globalweb.mlhuillier1.com/Partners/FileUploadweb/LogoutPage.aspx"/>
    <add key="FileTransmit" value="https://mlsftpsrv.mlhuillier1.com"/>
    <add key="MailServerIPaddress" value="192.168.14.70"/>
    <add key="username" value="reportuser@bosml.com"/>
    <add key="password" value="mlinc1234"/>
    <add key="myConnectionStringA" value="server=192.168.60.81;database=kpusers;User Id=kp6usr;password=;ConnectionLifeTime=300;"/>
    <add key="myConnectionStringB" value="server=192.168.60.81;database=kpusers;User Id=kp6usr;password=;ConnectionLifeTime=300;"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://mlkpdmweb.mlhuillier1.com/phil/client/7.15/autotextservice/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="smsservice.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="https://mlkpdmweb.mlhuillier1.com/phil/client/7.15/autotextservice/service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="smsservice.ServiceSoap" name="ServiceSoap12"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <!--<assemblyIdentity name="System.Data.DataSetExtensions" PublicKeyToken="B77A5C561934E089"/>-->
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <!--<assemblyIdentity name="System.Data.DataSetExtensions" PublicKeyToken="B77A5C561934E089"/>-->
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
